@font-face {
  font-family: "IRANSansMobile";
  src: url("/fonts/IRANSansMobile.woff2") format("woff2"),
    url("/fonts/IRANSansMobile.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
