.tableWrapper {
  padding: 1rem;
  direction: rtl;
  background: #fff;
  box-shadow: 0 0 10px #ccc;
  min-height: 74vh;
  max-height: 74vh;
  overflow-y: auto;
}

.header {
  display: flex;
  width: 100%;
  height: 5vh;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-top: 0;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  p {
    padding-right: 0.8rem;
    padding-bottom: 0.2rem;
  }
}

.toolbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.toolbarright {
  display: flex;
  width: 80%;
  justify-content: start;
  margin-bottom: 1rem;
}

.toolbarleft {
  display: flex;
  width: 20%;
  justify-content: start;
  margin-bottom: 1rem;
}

.inputSearch {
  width: 40%;
  position: relative;
  padding: 0 0.5rem;

  input {
    padding: 0 3rem 0 8rem;
    height: 40px;
    border: 1px solid #ccc;
    font-size: 14px;
  }

  button {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    background: transparent;
    cursor: pointer;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border: none;
    font-size: 1rem;
  }
}

.option {
  padding: 0 0.5rem;
  height: 40px;
  border: 1px solid #ccc;
  font-size: 14px;
  color: #666;
}

.searchBtn {
  cursor: pointer;
  padding: 0.2rem 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border: none;
  font-size: 1.5rem;
}

.deletebutton {
  color: #007bff;
  background-color: white;
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 0.6rem;

  &:hover {
    background-color: #0056b3;
    color: #fff;
  }
}

.filterbutton {
  position: relative;
  padding: 0.2rem 1.2rem 0.2rem 0.5rem;
  margin-left: 0.6rem;
  background: #fff;
  border: 1px solid #007bff;
  color: #007bff;

  button {
    position: absolute;
    top: 50%;
    right: 0.2rem;
    transform: translateY(-50%);
    padding: 0;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #007bff;
    border: none;
  }
}

.sortbutton {
  cursor: pointer;
  padding: 0.2rem 0.7rem;
  color: #666;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid #ccc;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: right;

  th,
  td {
    padding: 0.75rem;
    border-bottom: 1px solid #eee;
    height: 5vh;
  }

  th {
    background-color: #f3f6fb;
    font-weight: bold;
  }

  td {
    color: #333;
    padding: 0 1rem;
    margin: 0;
  }
}

.btn {
  color: #007bff;
  background-color: white;
  padding: 0.4rem 0.8rem;
  border: none;
  cursor: pointer;
  background-color: transparent;

  &:hover {
    background-color: #0056b3;
  }
}

.requestNumdiv {
  display: flex;
  justify-content: start;
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
  align-items: center;
}

.requestNumIcon {
  cursor: pointer;
  border-radius: 50%;
  background-color: #ccc;
  padding: 0.3rem;
  font-size: 1.2rem;
  margin-left: 1rem;
}
.expanddiv {
  display: flex;
  justify-content: start;
  background-color: transparent;
  color: #0077ee;
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
  align-items: center;
}

.expandBtn {
  background-color: transparent;
  color: #0077ee;
  border: none;
  font-size: 0.8rem;
  padding-top: 0.5rem;
  cursor: pointer;
}
